@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__title {
    color: $accent;
    margin-left: 15px;
    @extend %Rubik-500;
    font-weight: 600;
    font-size: 36px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item a{
    color: $accent;
    text-decoration: none;
    @extend %Rubik-500;
    font-weight: 600;
    font-size: 15px;
  }
    &__list-item::after {
      content: "+";
      opacity: 0;
      transition: all .3s;
    }
    &__list-item:hover::after{
      content: '+';
      opacity: 1;
      @extend %Rubik-500;
      font-weight: 600;
    }
    &__list-item-active::after{
      content: '+';
      opacity: 1;
      @extend %Rubik-500;
      font-weight: 600;
    }
  &__list-item + .menu__list-item {
    padding-left: 34px;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    padding: 18px;
  }
  &__menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
    padding: 14px;
  }
  &__purchases {
  display: flex;
  margin: 0 80px;
  border-radius: 20px;
  background-color: #fcd7b6;
  padding: 20px 0px 10px 0px;
    &-link {
      position: relative;
      padding: 3px 30px 3px 40px;
    }
    &-link + .user-nav__purchases-link {
      border-left: 1px solid #fde7d3;
    }
    &-num {
      position: absolute;
      width: 16px;    
      top: -9px;
      right: 22px;
      background-color: #fff;
      border-radius: 50%;
      color: $accent;
      font-size: 16px;
      text-align: center;
  }
}
}

.top-slider {
  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
  }
  &__inner {
  background-image: url(../images/slider-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 230px 300px 50px;
  }
  &__title {
    color: #243f4d;
    font-size: 72px;
    max-width: 440px;
    margin-bottom: 45px;
    @extend %Rubik-500;
    font-weight: 700;
  }
  &__text {
    font-size: 18px;
    color: $accent;
    max-width: 370px;
    @extend %Rubik-500;
    margin-bottom: 45px;
  }
  &__link {
    background-color: #a3bbc8;
    display: flex;
    max-width: 200px;
    justify-content: space-between;
    padding: 22px 20px 22px 24px;
  }
  &__link-title {
    color: white;
    font-size: 15px;
    @extend %Rubik-500;
  }
  &__link-arrow {
    display: flex;
    align-items: center;
  }
  &__image {
    align-self: flex-end;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    color: $dark-blue;
    background-color: #fff;
    opacity: 50%;
    @extend %Rubik-500;
    transition: all .3s;
    font-size: 15px;
    cursor: pointer;
  }
  li + li {
    margin-left: 12px;
  }
  .slick-active button{
    opacity: 1;
  }
}

.info__inner {
  display: flex;
  justify-content: space-around;
  background-color: #fef7f0;
  padding: 50px 0;
}

.info__item {
  display: flex;
  &-img {
    margin-right: 25px;
    align-self: flex-start;
  }
  &-title {
    margin-bottom: 5px;
    @extend %DMSans-700;
    font-size: 18px;
    color: #414141;
  }
  &-text {
    max-width: 220px;
    @extend %DMSans-400;
    font-size: 16px;
    color: #585858;
    line-height: 30px;
  }
}

.top-week {
  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__inner {
    padding: 75px 0 180px;
  }
  &__top {
    margin-bottom: 80px;
    text-align: center;
  }
  &__title {
    margin-bottom: 40px;
    color: #191919;
    font-size: 36px;
    @extend %DMSans-700
  }
  &__nav {
    display: flex;
    justify-content: center;
  }
  &__nav-item {
    color: #191919;
    opacity: .5;
    font-size: 16px;
    @extend %DMSans-700;
    transition: all .3s;
  }
  &__nav-item-active {
    opacity: 1;
  }
  
  &__nav-item:hover {
    color: #191919;
    opacity: 1;
    font-size: 16px;
    @extend %DMSans-700;
    cursor: pointer;
  }
  &__nav-item + .top-week__nav-item {
    padding-left: 30px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
  }
  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.content {
  &__item-inner {
    position: relative;
    
    transition: all .3s;
  }
  &__buy-sircle {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    &-1 {
      background-color: #fff;
    }
    &-2 {
      background-color: #a3bac7;
    }
    &-3 {
      background-color: #fff;
    }
  }
  &__buy-sircle + .content__buy-sircle {
    margin-left: 15px;
  }
  &__item {
    min-width: 270px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    z-index: 3;
    position: relative;
    }
  &__item:hover {
  transition: all .3s;
  z-index: 1;
  }
  &-price {
    margin-bottom: 40px;
  }
  &__buy {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  &__buy:hover {
    z-index: 4;
  }
  &__img {
    margin-bottom: 75px;
  }
  &__item-title {
    margin-bottom: 15px;
  }
  &__item-price {
    margin-bottom: 40px;
  }
}

.offer {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  &__item {
    background-color: #feefe2;
    display: flex;
    max-width: 870px;
    max-height: 390px;
    align-items: center;
    padding: 0 140px;
  }
  &__img {
    margin-bottom: 175px;
    margin-right: 65px;
  }
  &__title {
    color: $dark-blue;
    font-size: 26px;
    @extend %DMSans-700;
    padding-bottom: 30px;
  }
  &__subtitle {
    color: $dark-blue;
    font-size: 16px;
    @extend %Rubic-400;
    margin-bottom: 37px;
    line-height: 20pt;
    font-weight: 600;
  }
  &__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 20px 18px 20px 19px;
    border: 1px solid $accent;
    border-radius: 5px;
    font-size: 15px;
    color: $accent;
    @extend %Rubik-500;
    font-weight: 600;
    transition: all .3s;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: #fcf7f3;
    box-shadow: 0px 6px 47px 3px rgb(255, 255, 255);
  }
}


.footer-top {
  padding-bottom: 55px;
  border-bottom: 1px solid #dae4e9;
  &__title {
    margin-bottom: 30px;
    color: #1f2044;
    font-size: 16px;
    text-transform: uppercase;
    @extend %DMSans-700;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__item-services,
  &__item-account,
  &__item-newsletter {
    padding-top: 15px;
  }
  &__item-newsletter p{
    max-width: 260px;
  }
  &__list-item {
    margin-bottom: 20px;
  }
  &__link,
  &__text {
    color: $footer;
    @extend %Rubic-400;
    line-height: 24px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__item-adress {
    max-width: 200px
  }
  &__form-input {
    background-color: $bg;
    border: none;
    padding: 15px;
  }
  &__form-input::placeholder {
    color: #234969;
    font-size: 12px;
    @extend %DMSans-400;
  }
  &__form-btn {
    border: none;
    background-color: #a3bbc7;
    padding: 15px;
    color: white;
    font-size: 14px;
    @extend %DMSans-400;
  }
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  &__rights {
    font-size: 14px;
    color: $footer;
    @extend %Rubic-400;
  }
  &__nav {
    display: flex;
  }
  &__nav-item {
    padding: 1px 15px;
  }
  &__nav-link {
    font-size: 14px;
    @extend %Rubic-400;
    color: $footer
  }
  &__nav-item + .footer-bot__nav-item {
    border-left: 1px solid $footer;
  }
}

@import 'media';